/* css document */

/*  Layout style at Home */

.navbar {
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
}

.navbar:hover {
    background-color: #222;
    color: #fff;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
    font-size: 16pt;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 12pt;
}

.navbar-inverse .navbar-nav > li:hover {
    background-color: #2e2e2e;
}

.home-body {
    margin-top: 50px;
    background-color: #fefefe;
}

.footer {
}


/*  Index style at Home */

.home-header {
    -o-box-shadow: 0 0 3px 1px #cdcecf;
    -moz-box-shadow: 0 0 3px 1px #cdcecf;
    -webkit-box-shadow: 0 0 3px 1px #cdcecf;
    box-shadow: 0 0 3px 1px #cdcecf;
}

.carousel {
    height: 400px;
    background-color: #000;
}

.carousel .item {
    height: 400px;
    background-color: #000;
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-control {
    padding-top: 135px;
}

.home-info {
    margin: 30px auto 0;
    background-color: #efefef;
    color: #7d7d7d;
}

.home-info h2 {
    color: #1179ae;
}

.home-info-item {
    margin-bottom: 30px;
}

.list-group {
    margin-bottom: 0;
}
.list-group-item {
    background-color: #efefef;
    border: none;
}

.list-group-item > a {
    color: #7d7d7d;
    font-size: 15px;
}

.home-info-item~.row:not(:first-child) {
    margin-top: 20px;
}

.home-info .btn-default {
    margin-top: 30px;
    border: none;
    background-color: #efefef;
    color: #7a7a7a;
}

.home-info .btn-default:hover {
    background-color: #bebebe;
    color: #fafafa;
}

.home-info .glyphicon {
    font-size: 48px;
    color: #1179ae;
}

