/* CSS Document */
@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}

body {
	width: 100%;
}

/* -- skeleton */
.header {
	width: 960px;
	height: 120px;
}
.main-body {
	width: 100%;
	height: auto !important;
	height: 500px;
	min-height: 500px;
}
.footer {
	width: 100%;
	height: 100px;
	margin-top: 20px;
	background-color: #0099cc;
}
/* skeleton -- */

/* -- header inner style */
.head {
	width: 960px;
	height: 70px;

	/* inline-block blank */
	font-size: 0;
	letter-spacing: 0px;/*根据不同字体字号或许需要做一定的调整*/
	word-spacing: 0px;
}
.nav {
	width: 960px;
	height: 30px;
	margin-top: 20px;
	border-top: 1px solid #a9a9a9;
}

.logo,
.introduction,
.link-nav {
	float: left;
	overflow: hidden;
	height: 100%;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
}

/* .head --> .logo */
.logo {
	width: 200px;
	line-height: 70px;
	text-align: center;
	font-size: 28px;
	color: #fff;
	background-color: #0099cc;
}
.logo:hover {
	cursor: pointer;
}
/* .head --> .introduction */
.introduction {
	width: 400px;
	margin-left: 10px;
	color: #6a6a6a;
	font-size: 16px;
	line-height: 35px;
}

/* .head --> .link-nav */
.link-nav {
	width: 200px;
	margin-left: 100px;
	line-height: 70px;
	font-size: 14px;
	color: #686868;
	text-align: center;
}
.link-nav:hover {
	cursor: pointer;
}
.nav ul {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #696969;
	margin-left: 200px;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
}
.nav ul li {
	width: 110px;
	text-align: center;
}
.nav ul li:hover {
	cursor: pointer;
}
/* header inner style -- */

/* -- main-body inner style */
.slide-banner {
	position: relative;
	width: 100%;
	height: 400px;
	z-index: 1;
}
.brief {
	width: 960px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
	font-size: 24px;
	color: #9a9a9a;
}
.brief span {
	font-size: 1.5em;
	color: lightblue;
}
.service-item {
	width: 780px;
	height: auto !important;
	min-height: 340px;
	height: 340px;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
}
.service-item ul {
	width: 780px;
	height: auto !important;
	min-height: 340px;
	height: 340px;
}
.service-item ul li {
	float: left;
	overflow: hidden;
	display: inline-block;
	width: 260px;
	height: 170px;
}
.service-item .title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #898989;
	font-size: 16px;
}
.service-item .descript {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #686868;
	font-size: 14px;
}
.service-item .function {
	width; 100%;
	height: 60px;
	font-size: 16px;
	color: #bababa;
}
#slide-item {	
	position: absolute;
	width: 100%;
	height: 10px;
	top: 375px;
	left: 0;
	z-index: 10;
}
#slide-item ul {
	position: relative;
	left: 50%;
	width: auto;
	height: 12px;
	margin-left: -225px;
}
#slide-item ul li {
	width: 80px;
	height: 10px;
	line-height: 10px;
	margin-right: 10px;
	border-radius: 20px;
	background-color: rgba(66,66,66,.3);
	box-shadow: 0px 0px 2px rgba(235,235,235,.8);
}
#slide-item ul li:hover {
	cursor: pointer;
	background-color: rgba(240,240,240,.3);
	box-shadow: 0px 0px 2px rgba(33,33,33,.8);
}
#slide-item ul li.active {
	background-color: rgba(240,240,240,.3);
	box-shadow: 0px 0px 2px rgba(33,33,33,.8);
}
#banner-item {
	width: 100%;
	height: 100%;
}
/* main-body inner style -- */

/* -- footer inner style */
.footer-link {
	width: 960px;
	height: 70px;
}
.footer-link ul {
	height: 60px;
	line-height: 60px;
}
.footer-link ul li {
	width: auto;
	margin: 0 5px;	
	text-align: center;
	font-size: .9em;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
	color: #ededed;
}
.footer-link ul li:hover {
	cursor: pointer;
}
.copyright {
	width: 960px;
	height: 30px;
	line-height: 30px;
	border-top: solid 1px #ababab;
	text-align: center;
	font-size: .9em;
	font-family: microsoft yahei,verdana,arial,helvetica,sans-serif;
	color: #ededed;
}
/* footer inner style -- */